body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.issue-books-container {
    background-image: url(bg2.png) ;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin-top: 100px;
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

#issuedBooks {
    margin-top: 20px;
}
